# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/
*.npm

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
.DS_Store
*.swp
*.swo
*~

# OS
Thumbs.db

# Build files
/frontend/build
/frontend/.next
/backend/dist

# Cache
.eslintcache
.stylelintcache
